doctype html
html
  head
    title ToDo List
    meta(charset='utf-8')
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    style.
      #maintable
        border-collapse: collapse
        width: 100%
        table-layout: fixed

      #maintable.th,
      #maintable.td
        border: 1px solid black
        padding: 8px
        text-align: left
        width: 33.33%



      
  body
    block content

